<div id="<%= dom_id classroom %>">
  <p>
    <strong>Name:</strong>
    <%= classroom.name %>
  </p>

  <p>
    <strong>Students:</strong>
    <%= classroom.students %>
  </p>

  <p>
    <strong>Teacher:</strong>
    <%= classroom.teacher %>
  </p>

</div>
