<div id="<%= dom_id classroom %>">
  <h1 class="title"><%= classroom.name %></h1>
  <% if classroom.students.length != 0  %>
    <br>
    <strong>Students:</strong>
    <% classroom.students.each do |student| %>
      <%= render student %>
      <p>
        <%= link_to "Show this student", student %>
      </p>
    <% end %>
  <% end %>

</div>
