<p style="color: green"><%= notice %></p>

<h1 class="title">Classrooms</h1>

<br>

<div id="classrooms">
  <% @classrooms.each do |classroom| %>
    <%= classroom.name %>
    <p>
      <%= link_to "Show this classroom", classroom %>
    </p>
    <br>
  <% end %>
</div>

<%= link_to "New classroom", new_classroom_path %>
