.light-mode {
    background-color: white;
}
.header-margin{
    margin-top: 200;
}
.ld-button-spacing{
    margin-left: 300px;
}

.light-mode {
    background-color: white;
    color: black;
}

.dark-mode {
    background-color: #121212;
    color: white;
}

/* Ensure Bulma's elements adapt to the theme */
.light-mode .card, .light-mode .button {
    background-color: #F3F2ED;
    color: black;
}

.dark-mode .card, .dark-mode .button {
    background-color: #1e1e1e;
    color: white;
}
.light-mode .title {
    color: black;
}
.dark-mode .inverted {
    color: black
}
.dark-mode .ld-toggle{
    background-color: white;
}
.light-mode .ld-toggle{
    background-color: white;
}
.ld-toggle {
    margin-top: 10px !important;
}
.title {
    margin-top: 20px !important;
}